.portal-lock-container {
  min-height: 100%;
}

.portal-lock-card {
  padding: 0;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  min-height: 350px;
  .mat-form-field {
    width: 100%;
  }
  mat-card-content, mat-card-title {
    padding: 48px;
  }
  mat-card-title p {
    font-size: 1rem;
  }
  form {
    margin-bottom: 16px;
  }
}

.portal-lock-card__logo {
  width: 80px;
}
