<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <span matTooltip="Cool huh?">Hover on me, to see a tooltip</span>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Tooltips are text labels that appear when the user hovers over, focuses on, or touches an element.</p>
    <p>Tooltips identify an element when they are activated. They may contain brief helper text about its function.</p>
    <p>For example, they may contain text information about actionable icons.</p>

    <p>Tooltip labels do not receive input focus.</p>

    <h3 class="portal-example-pager__content--heading">Tooltip Example</h3>
    <p>In the next example we will show you how to use a tooltip.</p>
    <example-with-code title="Tooltip Example" example="tooltip-example-1" [tabs]="['ts', 'html']">
      <example-tooltip-1></example-tooltip-1>
    </example-with-code>
  </div>
</div>
