@import '../../../../../sass/utils';

.portal-funky-drawer-menu {
  overflow-y: auto;
}

// Menu List.
.mat-nav-list {
  padding: 0px;
  // Left menu icon
  .mat-list-icon {
    @include portal-ui-icon-sizing(16px);
  }
  // End detail icon
  .mat-icon.portal-sidnav-menu__end_detail {
    @include portal-ui-icon-sizing(16px);
  }
}
// Expansion Panel
.mat-expansion-panel {
  box-shadow: none !important;
  .mat-expansion-panel-header {
    padding: 0px 16px;
    .mat-expansion-panel-header-title {
      margin: 0;
      align-items: center;
      h3 {
        margin: 0;
        padding: 0 16px;
      }
      .mat-icon {
        @include portal-ui-icon-sizing(16px);
      }
    }
  }
}
