.portal-layout-loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  text-transform: uppercase;
  text-align: center;
  > span {
    display: block;
    font-size: .875em;
    margin-top: 12px;
  }
}
