<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-form-field>
        <input matInput placeholder="Please enter your name">
      </mat-form-field>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Form field is a component used to wrap several Angular Material components and apply common Text field styles such as the underline, floating label, and hint messages.</p>
    <p>You can use form field to wrap the following material components</p>

    <ul>
      <li>Material Input</li>
      <li>Material Select</li>
      <li>Material Chip list</li>
    </ul>

    <h3 class="portal-example-pager__content--heading">Form Field Example</h3>
    <p>In the next example we will show you how you can use the <code>mat-form-field</code> attributes to change the look and behavior of a form.</p>
    <p>The example shows how you can add error messages, hint messages, prefix and suffix options to form inputs.</p>
    <example-with-code title="Customer Form Example" example="form-field-example-1">
      <form-field-example-1></form-field-example-1>
    </example-with-code>
  </div>
</div>
