<mat-tab-group>
  <mat-tab label="Tab 1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi reprehenderit eum eligendi assumenda vitae, nihil esse ut, molestiae tempore quibusdam tenetur minus unde autem voluptas odio deserunt sapiente dolor veniam.</mat-tab>
  <mat-tab label="Tab 2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi reprehenderit eum eligendi assumenda vitae, nihil esse ut, molestiae tempore quibusdam tenetur minus unde autem voluptas odio deserunt sapiente dolor veniam.</mat-tab>
</mat-tab-group>