<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <svg class="portal-pages__header-icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="64" height="64" viewBox="0 0 64 64">
        <g class="nc-icon-wrapper">
          <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M28 43L43 1h1l15 42"></path>
          <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M33 29h21"></path>
          <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M5 43l8-23h1l8 23"></path>
          <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M7 36h13"></path>
          <path fill="none" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M56 63l7-7-7-7"></path>
          <path fill="none" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M8 49l-7 7 7 7"></path>
          <g>
            <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M63 56H1"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Portal comes with a wide range of options to setup a unique typography sensation.</p>
    <p>Too many type sizes and styles at once can wreck any layout. A typographic scale has a limited set of type sizes that work well together along with the layout grid.</p>
    <p>These sizes and styles were developed to balance content density and reading comfort under typical usage conditions.</p>

    <h3 class="portal-example-pager__content--heading">Typography</h3>
    <p>Typography is a way of arranging type to make text legible, readable, and appealing when displayed.
      Angular Material's typography is based on the guidelines from the <a target="_blank" href="https://material.io/guidelines/style/typography.html">Material Design spec</a> and is arranged into typography levels.
      Each level has a font-size, line-height and font-weight. The available levels are:</p>
    <example-with-code title="Styles" example="typography-example" [tabs]="['html']">
      <typography-example></typography-example>
    </example-with-code>
  </div>
</div>
