<div class="portal-example-docs">
  <div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex.gt-md="60" fxFlex.md="80" fxFlex.lt-md="90">
      <p>The many layouts that portal provides can be controlled using the <code>LayoutService</code> service</p>
      <p>You can inject this service into any component, directive or service to control attributes of the layout.</p>

      <h3 class="portal-example-docs__heading">Using the layout service</h3>
      <p>Use the controls below to change the current layout</p>
      <example-with-code title="Layout Service Example" example="layout-service-example">
        <layout-service-example></layout-service-example>
      </example-with-code>
    </div>
  </div>
</div>
