<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <chips-example-1></chips-example-1>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>A chip may contain entities such as a photo, text, rules, an icon, or a contact.</p>
    <p>A chip list displays a list of values as individual, keyboard accessible, chips.</p>

    <h3 class="portal-example-pager__content--heading">Chip List Example</h3>
    <p>In the following example we demonstrate how to create a simple chip list:</p>
    <example-with-code title="Chip List Example" example="chips-example-1" [tabs]="['html']">
      <chips-example-1></chips-example-1>
    </example-with-code>

    <h3 class="portal-example-pager__content--heading">Chip Input Example</h3>
    <p>The <code>&lt;MatChipInput&gt;</code> directive can be used together with a chip-list to streamline the interaction between the two components. This directive adds chip-specific behaviors to the input element within <code>&lt;mat-form-field&gt;</code> for adding and removing chips. The <code>&lt;input&gt;</code> with <code>MatChipInput</code> can be placed inside or outside the chip-list element.</p>
    <p>The following example demonstrates a chip input placed inside the chip-list element:</p>
    <example-with-code title="Chips With Input Example" example="chips-example-2" [tabs]="['html', 'ts']">
      <chips-example-2></chips-example-2>
    </example-with-code>
  </div>
</div>
