.portal-boxed-container {
  max-width: 1200px;
}

.portal-boxed-leftsidenav {
  width: 256px;
}

.portal-boxed-rightsidenav {
  width: 320px;
}

.portal-boxed-content-wrapper {
  position: relative;
}

.portal-boxed-content {
  overflow-y: auto;
}
