<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <example-autocomplete></example-autocomplete>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>The autocomplete is a normal text input enhanced by a panel of suggested options.</p>
    <p>Input text can be used with autocomplete to help users who have limited literacy or who write in a foreign language. For example, autocomplete can:</p>

    <ul>
      <li>Suggest input as it’s typed (refreshing suggestions with each keystroke)</li>
      <li>Fill a field with default input text</li>
      <li>Pressing the return button accepts the current autocomplete suggestion.</li>
    </ul>

    <h3 class="portal-example-pager__content--heading">Simple Autocomplete Example</h3>
    <p>In this example we will show you how to set up a simple country autocomplete</p>
    <example-with-code title="Autocomplete Example" example="autocomplete-example">
      <example-autocomplete></example-autocomplete>
    </example-with-code>
  </div>
</div>
