.portal-login-container {
  min-height: 100%;
}

.portal-login-card {
  padding: 0;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  mat-card-title h1 {
    margin-bottom: 0;
  }
  mat-card-content {
    min-height: 350px;
    padding: 48px;
    margin: 0;
  }
  .mat-form-field {
    width: 100%;
  }
}

.portal-login-card__logo {
  height: 40px;
}
