<div class="portal-example-docs">
  <div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex.gt-md="60" fxFlex.md="80" fxFlex.lt-md="90">
      <h1>Introduction to RxJS</h1>
      <h2>How to get started with Observables</h2>

      <h3>Simplest example</h3>
      <p>
        In this example we will create the most simple observable we can.
      </p>

      <example-with-code title="Simplest RxJS Example" example="simplest-rxjs">
        <example-simplest-rxjs></example-simplest-rxjs>
      </example-with-code>
    </div>
  </div>
</div>

