<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="portal-side-menu-top-toolbar">
    <mat-toolbar-row fxLayout="row">
      <span class="portal-toolbar-brand-text" i18n>Mosh UI</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="portal-sidnav-menu portal-hide-scrollbars" fxFlex="nogrow noshrink">

    <!-- home & dashboard menu -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>home</mat-icon>
          <h3>Dashboards</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboards/analytics" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>insert_chart</mat-icon>
          <h3 matLine>Analytics</h3>
          <strong class="portal-sidnav-menu__end_detail">4</strong>
        </a>
        <a mat-list-item routerLink="/dashboards/ecommerce" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>shopping_cart</mat-icon>
          <h3 matLine>Ecommerce</h3>
        </a>
        <a mat-list-item routerLink="/dashboards/crypto" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>euro_symbol</mat-icon>
          <h3 matLine>CryptoCurrency</h3>
        </a>
        <a mat-list-item routerLink="/dashboards/project" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>event_note</mat-icon>
          <h3 matLine>Project</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- apps menu -->

    <h3 class="portal-sidnav-menu__subheader">Apps</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>desktop_windows</mat-icon>
          <h3>Apps</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/apps/email', { outlets: { list: 'inbox', messages: 'none' } }]" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>email</mat-icon>
          <h3 matLine>Email</h3>
        </a>
        <a mat-list-item routerLink="/apps/todo" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>check_circle</mat-icon>
          <h3 matLine>Todo</h3>
        </a>
        <a mat-list-item routerLink="/apps/spotify" routerLinkActive="portal-menu--active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon fontSet="fa" fontIcon="fa-spotify" matListIcon></mat-icon>
          <h3 matLine>Spotify</h3>
        </a>
        <a mat-list-item routerLink="/apps/maps" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>pin_drop</mat-icon>
          <h3 matLine>Maps</h3>
        </a>
        <a mat-list-item routerLink="/apps/chat" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>chat</mat-icon>
          <h3 matLine>Chat</h3>
        </a>
        <a mat-list-item routerLink="/apps/calendar" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>date_range</mat-icon>
          <h3 matLine>Calendar</h3>
        </a>
        <a mat-list-item routerLink="/apps/contacts" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>face</mat-icon>
          <h3 matLine>Contacts</h3>
        </a>
        <a mat-list-item routerLink="/apps/notes" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>event_note</mat-icon>
          <h3 matLine>Notes</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- pages menu -->

    <h3 class="portal-sidnav-menu__subheader">Pages</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>perm_identity</mat-icon>
          <h3>Authentication</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/external/login" routerLinkActive="portal-menu--active">
          <h3 matLine>Login</h3>
        </a>
        <a mat-list-item routerLink="/external/register" routerLinkActive="portal-menu--active">
          <h3 matLine>Register</h3>
        </a>
        <a mat-list-item routerLink="/external/forgot-password" routerLinkActive="portal-menu--active">
          <h3 matLine>Forgot Password</h3>
        </a>
        <a mat-list-item routerLink="/pages/profile" routerLinkActive="portal-menu--active">
          <h3 matLine>Profile</h3>
        </a>
        <a mat-list-item routerLink="/external/lock" routerLinkActive="portal-menu--active">
          <h3 matLine>Lock Page</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>error</mat-icon>
          <h3>Errors</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/external/404" routerLinkActive="portal-menu--active">
          <h3 matLine>404</h3>
        </a>
        <a mat-list-item routerLink="/external/500" routerLinkActive="portal-menu--active">
          <h3 matLine>500</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- user interface menu -->

    <h3 class="portal-sidnav-menu__subheader">User Interface</h3>
    <mat-nav-list>
      <a mat-list-item routerLink="/ui/typography" routerLinkActive="portal-menu--active">
        <mat-icon matListIcon>text_format</mat-icon>
        <h3 matLine>Typography</h3>
      </a>
      <a mat-list-item routerLink="/ui/colors" routerLinkActive="portal-menu--active">
        <mat-icon matListIcon>palette</mat-icon>
        <h3 matLine>Colors</h3>
      </a>
    </mat-nav-list>

    <!-- elements menu -->

    <h3 class="portal-sidnav-menu__subheader">Elements</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>extension</mat-icon>
          <h3>Form Controls</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/elements/autocomplete" routerLinkActive="portal-menu--active">
          <h3 matLine>Autocomplete</h3>
        </a>
        <a mat-list-item routerLink="/elements/checkbox" routerLinkActive="portal-menu--active">
          <h3 matLine>Checkbox</h3>
        </a>
        <a mat-list-item routerLink="/elements/datepicker" routerLinkActive="portal-menu--active">
          <h3 matLine>Datepicker</h3>
        </a>
        <a mat-list-item routerLink="/elements/form-field" routerLinkActive="portal-menu--active">
          <h3 matLine>Form Field</h3>
        </a>
        <a mat-list-item routerLink="/elements/input" routerLinkActive="portal-menu--active">
          <h3 matLine>Input</h3>
        </a>
        <a mat-list-item routerLink="/elements/radio" routerLinkActive="portal-menu--active">
          <h3 matLine>Radio</h3>
        </a>
        <a mat-list-item routerLink="/elements/select" routerLinkActive="portal-menu--active">
          <h3 matLine>Select</h3>
        </a>
        <a mat-list-item routerLink="/elements/slider" routerLinkActive="portal-menu--active">
          <h3 matLine>Slider</h3>
        </a>
        <a mat-list-item routerLink="/elements/toggle" routerLinkActive="portal-menu--active">
          <h3 matLine>Slide Toggle</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>menu</mat-icon>
          <h3>Navigation</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/elements/menu" routerLinkActive="portal-menu--active">
          <h3 matLine>Menu</h3>
        </a>
        <a mat-list-item routerLink="/elements/sidenav" routerLinkActive="portal-menu--active">
          <h3 matLine>Sidenav</h3>
        </a>
        <a mat-list-item routerLink="/elements/toolbar" routerLinkActive="portal-menu--active">
          <h3 matLine>Toolbar</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>view_module</mat-icon>
          <h3>Layout</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/elements/list" routerLinkActive="portal-menu--active">
          <h3 matLine>List</h3>
        </a>
        <a mat-list-item routerLink="/elements/grid-list" routerLinkActive="portal-menu--active">
          <h3 matLine>Grid List</h3>
        </a>
        <a mat-list-item routerLink="/elements/card" routerLinkActive="portal-menu--active">
          <h3 matLine>Card</h3>
        </a>
        <a mat-list-item routerLink="/elements/stepper" routerLinkActive="portal-menu--active">
          <h3 matLine>Stepper</h3>
        </a>
        <a mat-list-item routerLink="/elements/tabs" routerLinkActive="portal-menu--active">
          <h3 matLine>Tabs</h3>
        </a>
        <a mat-list-item routerLink="/elements/expansion-panel" routerLinkActive="portal-menu--active">
          <h3 matLine>Expansion Panel</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>info</mat-icon>
          <h3>Buttons & Indicators</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/elements/buttons" routerLinkActive="portal-menu--active">
          <h3 matLine>Buttons</h3>
        </a>
        <a mat-list-item routerLink="/elements/button-toggle" routerLinkActive="portal-menu--active">
          <h3 matLine>Button Toggle</h3>
        </a>
        <a mat-list-item routerLink="/elements/chips" routerLinkActive="portal-menu--active">
          <h3 matLine>Chips</h3>
        </a>
        <a mat-list-item routerLink="/elements/mat-icon" routerLinkActive="portal-menu--active">
          <h3 matLine>Material Icons</h3>
        </a>
        <a mat-list-item routerLink="/elements/fa-icon" routerLinkActive="portal-menu--active">
          <h3 matLine>Font Awesome Icons</h3>
        </a>
        <a mat-list-item routerLink="/elements/progress-spinner" routerLinkActive="portal-menu--active">
          <h3 matLine>Progress Spinner</h3>
        </a>
        <a mat-list-item routerLink="/elements/progress-bar" routerLinkActive="portal-menu--active">
          <h3 matLine>Progress Bar</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>feedback</mat-icon>
          <h3>Popups & Modals</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/elements/dialog" routerLinkActive="portal-menu--active">
          <h3 matLine>Dialog</h3>
        </a>
        <a mat-list-item routerLink="/elements/tooltip" routerLinkActive="portal-menu--active">
          <h3 matLine>Tooltip</h3>
        </a>
        <a mat-list-item routerLink="/elements/snackbar" routerLinkActive="portal-menu--active">
          <h3 matLine>Snackbar</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>reorder</mat-icon>
          <h3>Data Table</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/elements/table" routerLinkActive="portal-menu--active">
          <h3 matLine>Table</h3>
        </a>
        <a mat-list-item routerLink="/elements/sortable" routerLinkActive="portal-menu--active">
          <h3 matLine>Sortable</h3>
        </a>
        <a mat-list-item routerLink="/elements/paginator" routerLinkActive="portal-menu--active">
          <h3 matLine>Paginator</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- examples menu -->

    <h3 class="portal-sidnav-menu__subheader">Examples</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>loop</mat-icon>
          <h3 matLine>RxJS</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/rxjs/intro" routerLinkActive="portal-menu--active">
          <h3 matLine>Introduction</h3>
        </a>
        <a mat-list-item routerLink="/rxjs/subject" routerLinkActive="portal-menu--active">
          <h3 matLine>Subject</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- portal menu -->

    <h3 class="portal-sidnav-menu__subheader">Portal</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>loop</mat-icon>
          <h3 matLine>Portal Examples</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/portal-examples/layout-service" routerLinkActive="portal-menu--active">
          <h3 matLine>Layout Service</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

  </div>
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <span fxFlex></span>
      <a mat-icon-button (click)="sidenav.close()">
        <mat-icon>chevron_left</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
