<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Progress and activity indicators are visual indications of an app loading content.</p>
    <p>A single visual indicator should be used to represent each type of operation. For example, a refresh operation should display either a refresh bar or an activity circle, but not both.</p>

    <h3 class="portal-example-pager__content--heading">Circular Spinner Example</h3>
    <p>In this example we will show you how to add a progress spinner to the page.</p>
    <example-with-code title="Progress Spinner Example" example="progress-spinner-example-1" [tabs]="['html']">
      <progress-spinner-example-1></progress-spinner-example-1>
    </example-with-code>
  </div>
</div>
