<mat-tab-group class="demo-tab-group">
  <mat-tab label="Tab 1">
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>Profile
    </ng-template>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil modi porro sed quibusdam molestias asperiores, corporis deserunt similique voluptates, magni est error rem earum in vel delectus aspernatur nobis pariatur.
  </mat-tab>
  <mat-tab label="Tab 2">
    <ng-template mat-tab-label>
      <mat-icon>notifications</mat-icon>
    </ng-template>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil modi porro sed quibusdam molestias asperiores, corporis deserunt similique voluptates, magni est error rem earum in vel delectus aspernatur nobis pariatur.
  </mat-tab>
  <mat-tab label="Simple Label">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil modi porro sed quibusdam molestias asperiores, corporis deserunt similique voluptates, magni est error rem earum in vel delectus aspernatur nobis pariatur.
  </mat-tab>
  <mat-tab label="Disabled Tab" disabled>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil modi porro sed quibusdam molestias asperiores, corporis deserunt similique voluptates, magni est error rem earum in vel delectus aspernatur nobis pariatur.
  </mat-tab>
</mat-tab-group>