@mixin portal-chat-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .portal-chat-app__wrapper {
    background: mat-color($background, background);
  }

  .portal-chat-app__sidenav {
    background: mat-color($background, card);
  }

  .portal-chat-app__list-item {
    border-bottom: 1px solid mat-color($foreground, divider);
    .mat-icon {
      opacity: .5;
    }
    &.portal-chat-app__list-item--active {
      .mat-icon {
        color: mat-color($accent, default);
        opacity: 1;
      }
    }
  }
  .portal-messages-container__new-message-wrapper {
    background: mat-color($background, card);
    padding: 0 12px;
    .mat-icon {
      font-size: 18px;
    }
  }

  .portal-message__card {
    &:before, &:after {
      border-right: 10px solid mat-color($background, card);
    }
  }

  .portal-message__card-action--warning {
    color: mat-color($warn, default);
  }

  .portal-chat-no-messages {
    .mat-icon {
      color: mat-color($primary, default);
      &:nth-child(2) {
        color: mat-color($accent, default);
      }
    }
  }

  .portal-chat-no-messages-dots span {
    background: mat-color($accent, default-contrast);
  }
}
