<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-slider
      class="portal-example-preview-slider"
      max="100"
      min="0"
      step="1"
      value="50">
      </mat-slider>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Sliders are ideal components for adjusting settings that reflect intensity levels, such as volume, brightness, or color saturation.</p>
    <p>Sliders may have icons on both ends of the bar that reflect the value intensity. Place the smallest value for the slider range on the left and the largest value on the right.</p>

    <ul>
      <li><b>Continuous sliders</b> allow users to select a value along a subjective range. They do not require a specific value to make adjustments, although they may, in some instances, offer an editable numeric value.</li>
      <li><b>Discrete sliders</b> allow users to select a specific value from a range. Used for settings for which users need to know the exact value of the setting.</li>
    </ul>

    <h3 class="portal-example-pager__content--heading">Simple Slider Example</h3>
    <p>In the next example we will show you how you can create a slider and output it's value to an input</p>
    <example-with-code title="Slider Example" example="slider-example">
      <example-slider></example-slider>
    </example-with-code>
  </div>
</div>
