<div class="portal-ecommerce-page-wrapper">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 1 100%">
      <portal-dashboard-recent-sales class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-recent-sales>
    </div>
    <div class="portal-widget" fxFlex="1 1 100%">
      <portal-dashboard-new-customers class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-new-customers>
    </div>
    <div class="portal-widget" fxFlex="1 1 100%">
      <portal-dashboard-commerce-active-users class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-commerce-active-users>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
    <div fxFlex="66">
      <div class="portal-widget">
        <portal-dashboard-daily-sales class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-daily-sales>
      </div>
      <div class="portal-widget">
        <portal-dashboard-product-sales class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-product-sales>
      </div>
    </div>
    <div class="portal-widget" fxFlex>
      <portal-dashboard-commerce-map class="portal-widget__content portal-widget__content--no-padding"></portal-dashboard-commerce-map>
    </div>
  </div>
</div>
