<mat-card class="portal-themed-shadow" fxLayout="column">
    <mat-card-content>
      <div class="portal-project-stepper">
        <div role="progressbar" class="portal-project-stepper__progress">
          <div class="portal-project-stepper__progress-bar" style="width: 80%;"></div>
        </div>
        <div class="portal-project-stepper__step portal-project-stepper__step--done">
          <h3 class="portal-project-stepper__step__heading portal-text-medium">
            Phase 01
          </h3>
          <p class="portal-project-stepper__step__content mdc-typography--body1">
            In this phase initial research will be required. Also the framework and the assets to be used have to be decided.
          </p>
        </div>
        <div class="portal-project-stepper__step portal-project-stepper__step--done">
          <h3 class="portal-project-stepper__step__heading portal-text-medium">
            Phase 02
          </h3>
          <p class="portal-project-stepper__step__content mdc-typography--body1">
            In this phase the design process will take place. All components will be created as HTML and CSS working prototypes.
          </p>
        </div>
        <div class="portal-project-stepper__step">
          <h3 class="portal-project-stepper__step__heading portal-text-medium">
            Phase 03
          </h3>
          <p class="portal-project-stepper__step__content mdc-typography--body1">
            In the final stage the prototype will be tested on various devices including desktop computer and mobile devices.
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
