<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <button mat-fab>
        <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Buttons communicate the action that will occur when the user touches them.</p>
    <p>Material buttons trigger an ink reaction on press. They may display text, imagery, or both. Flat buttons and raised buttons are the most commonly used types. There are three standard types of buttons:</p>
    <ul>
      <li><b>Floating action button:</b> A circular material button that lifts and displays an ink reaction on press.</li>
      <li><b>Raised button:</b>  A typically rectangular material button that lifts and displays ink reactions on press.</li>
      <li><b>Flat button:</b>  A button made of ink that displays ink reactions on press but does not lift.</li>
    </ul>

    <h3 class="portal-example-pager__content--heading">Button Example</h3>
    <p>Angular Material buttons are native <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> elements enhanced with Material Design styling and ink ripples.</p>
    <example-with-code title="Button Example" example="button-example-1" [tabs]="['html']">
      <button-example-1></button-example-1>
    </example-with-code>
  </div>
</div>
