@mixin portal-todo-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .portal-todo-wrapper {
    background: mat-color($background, background);
  }

}
