:host, .portal-todo-wrapper {
  min-height: 100%;
}
.portal-todo {
  padding: 0;
  margin-top: 24px;
}

.portal-todo__header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  overflow: hidden;
  padding: 24px;
  h2 {
    color: #fff;
    margin-top: 160px;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    animation: portal-todo__header-demo .3s forwards 1;
    animation-delay: .9s;
    opacity: 0;
    transform: translateY(20px);
  }
}
.portal-todo__actions {
  margin-bottom: 24px;
}

// Demo animation
.portal-todo__header-demo {
  background-image: linear-gradient(to bottom right, rgba(231, 77, 92, 1), rgba(243, 119, 77, 1));
}

.portal-todo__header-demo-sun {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
  animation: portal-todo__header-demo-sun 1s 1;
  &:after {
    content: '';
    background: #ffb058;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 40px rgba(#ffb058, .4), 0px 0px 0px 80px rgba(#ffb058, .2);
    animation: portal-todo__header-demo-sun-shine 4s infinite ease-in-out;
    transform: translateY(5px);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.portal-todo__header-demo-mountain {
  background: rgba(#ffb057, .3);
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 2px;
  left: 0;
  transform: translateY(200px) rotate(45deg);
  top: 150px;
  animation: portal-todo__header-demo-mountains 1s forwards 1;
  animation-delay: .3s;
  opacity:1;
  &:nth-child(3) {
    left: 20%;
    top: 180px;
    animation-delay: 0.6s;
    background: rgba(#ffb057, 1);
  }
}

@keyframes portal-todo__header-demo-sun-shine {
  0%, 100% {
    box-shadow: 0px 0px 0px 40px rgba(#ffb058, .4), 0px 0px 0px 80px rgba(#ffb058, .2);
    transform: translateY(5px);
  }
  50% {
      box-shadow: 0px 0px 0px 60px rgba(#ffb058, .3), 0px 0px 0px 100px rgba(#ffb058, .1);
      transform: translateY(0px);
  }
}

@keyframes portal-todo__header-demo-mountains {
  0% {
    transform: translateY(200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
}

@keyframes portal-todo__header-demo-sun {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes portal-todo__header-demo {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
