<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-checkbox color="primary">Check me out</mat-checkbox>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Checkboxes allow the user to select multiple options from a set.</p>
    <p>If you have multiple options appearing in a list, you can preserve space by using checkboxes instead of on/off switches.</p>
    <p>If you have a single option, avoid using a checkbox and use an on/off switch instead.</p>

    <h3 class="portal-example-pager__content--heading">Multiple Checkbox Example</h3>
    <p>In the next example we will show you how to use multiple checkboxes in a form.</p>
    <example-with-code title="Checkbox Example" example="checkbox-example-1" [tabs]="['ts', 'html']">
      <example-checkbox-1></example-checkbox-1>
    </example-with-code>
  </div>
</div>
