<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            The award for best admin template goes to....
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Mosh UI</h2>
      </mat-expansion-panel>
    </div>
  </div>
<div class="portal-example-pager__content">
  <p>Expansion panels contain creation flows and allow lightweight editing of an element.</p>
  <p>An expansion panel is a lightweight container that may either stand alone or be connected to a larger surface, such as a card.</p>

  <h3 class="portal-example-pager__content--heading">Expansion Example</h3>
  <p>In the next example we will show you how create an expansion panel with form options inside.</p>
  <example-with-code title="Stepper Example With Form Validation" example="expansion-panel-example-1">
    <expansion-panel-example-1></expansion-panel-example-1>
  </example-with-code>
</div>
