<mat-card fxLayout="column" fxLayoutAlign="center stretch">
  <div class="portal-widget__padding  portal-widget__content--flex" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex>
      <mat-card-title class="mat-card-title" il8n>Most Popular</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle" il8n>2nd Semester 2018</mat-card-subtitle>
    </div>
    <div>
      <mat-menu #mostPopularMenu="matMenu">
        <button mat-menu-item i18n>Month</button>
        <button mat-menu-item i18n>Week</button>
        <button mat-menu-item i18n>Day</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="mostPopularMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-content>
    <mat-table [dataSource]="currencyDataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef il8n>Name</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef il8n>Symbol</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.symbol}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef i18n>Price</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="supply">
        <mat-header-cell *matHeaderCellDef i18n>Supply</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.supply}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
