<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <toolbar-example-1></toolbar-example-1>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>A toolbar is a container for headers, titles, or actions.</p>
    <p>Toolbars appear a step above the content they affect. They may constrain their width to accommodate material passing over them.</p>

    <h3 class="portal-example-pager__content--heading">Single row toolbar Example</h3>
    <p>In the most situations, a toolbar will be placed at the top of your application and will only have a single row that includes the title of your application.</p>
    <example-with-code title="Basic toolbar Example" example="toolbar-example-1" [tabs]="['html']">
      <toolbar-example-1></toolbar-example-1>
    </example-with-code>

    <h3 class="portal-example-pager__content--heading">Multi-row toolbar Example</h3>
    <p>The Material Design specifications describe that toolbars can also have multiple rows. In the following example we will demonstrate how a toolbar with multiple rows can be implemented.</p>
    <example-with-code title="Multi-row toolbar Example" example="toolbar-example-2" [tabs]="['html']">
      <toolbar-example-2></toolbar-example-2>
    </example-with-code>
  </div>
</div>
