<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Inputs typically reside in forms but can appear in other places, like dialog boxes and search.</p>
    <p>The following input types can be used with matInput directive:</p>
    <ul>
      <li>date</li>
      <li>datetime-local</li>
      <li>email</li>
      <li>month</li>
      <li>number</li>
      <li>password</li>
      <li>search</li>
      <li>tel</li>
      <li>text</li>
      <li>time</li>
      <li>url</li>
      <li>week</li>
    </ul>

    <h2 class="portal-example-pager__content--heading">Enhanced Input Examples</h2>
    <p>In the next example we will show you how to add error messages and hints to input boxes.</p>
    <example-with-code title="Input Example" example="input-example-1" [tabs]="['html', 'scss']">
      <example-input-1></example-input-1>
    </example-with-code>
  </div>
</div>
