<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <paginator-example-1></paginator-example-1>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>The <code>&lt;mat-paginator&gt;</code> adds a pagination UI that can be used in conjunction with the <code>&lt;mat-table&gt;</code>. The paginator emits events that can be used to trigger an update via the table's data source.</p>

    <h3 class="portal-example-pager__content--heading">Paginator Example</h3>
    <p>In the following example we demonstrate how to create a table with pagination using a remote data source.</p>
    <example-with-code title="Table with Pagination Example" example="paginator-example-1" [tabs]="['html', 'ts']">
      <paginator-example-1></paginator-example-1>
    </example-with-code>
  </div>
</div>
