<div class="portal-colors portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <svg class="portal-pages__header-icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="64" height="64" viewBox="0 0 64 64">
        <g class="nc-icon-wrapper" >
          <path fill="none" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M3 38l25 25 26-26 7-1L33 8z"></path>
          <path fill="none" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M32 27V6c0-2.762-2.238-5-5-5s-5 2.238-5 5v13"></path>
        </g>
      </svg>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Color in Material Design is inspired by bold hues juxtaposed with muted environments, deep shadows, and bright highlights.</p>
    <p>Introduces unexpected and vibrant colors.</p>
    <p>Portal comes with the default <a href="http://www.google.com/design/spec/style/color.html#color-color-palette">material design color palettes</a>. These can be used in multiple combinations to create stunning eye catching themes to color your admin panels.</p>

    <h3 class="portal-example-pager__content--heading">Palette Colors</h3>
    <p>These color palettes comprise of primary and accent colors that can be used for illustration or to develop your brand colors. They’ve been designed to work harmoniously with each other.</p>
    <p>The color palette starts with primary colors and fills in the spectrum to create a complete and usable palette for Android, Web, and iOS.Google suggests using the 500 colors as the primary colors in your app and the other colors as accents colors.</p>
    <p>As well as the pre-defined palettes you can also create your own color palettes.</p>
    <example-with-code title="Available Color Palettes" example="colors-example" [tabs]="['ts', 'html']">
      <colors-example></colors-example>
    </example-with-code>
  </div>
</div>
