<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <menu-example-1></menu-example-1>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Menus appear upon interaction with a button, action, or other control. They display a list of choices, with one choice per line.</p>
    <p>Menu items may be disabled if not applicable to a certain context. Contextual menus dynamically change their available menu items based on the current state of the app.</p>

    <h3 class="portal-example-pager__content--heading">Menu Example</h3>
    <p>In this example we will show you how to set up a simple menu</p>
    <example-with-code title="Menu Example" example="menu-example-1" [tabs]="['html']">
      <menu-example-1></menu-example-1>
    </example-with-code>
  </div>
</div>
