<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-slide-toggle>Airplane Mode</mat-slide-toggle>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>An On/off control that toggles the state of a single settings option. The option that the toggle controls, as well as the state it’s in, should be made clear from the corresponding inline label. Toggles take on the same visual properties of the radio button.</p>

    <h3 class="portal-example-pager__content--heading">Simple Toggle Example</h3>
    <p>In the next example we will show you how you can change the attributes of the slide toggle.</p>
    <example-with-code title="Slide Toggle Example" example="toggle-example" [tabs]="['html', 'ts']">
      <example-toggle></example-toggle>
    </example-with-code>
  </div>
</div>
