<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content-tabs">
      <tabs-example-1 class="example-tab"></tabs-example-1>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Tabs enable content organization at a high level, such as switching between views, data sets, or functional aspects of an app.</p>
    <p>Present tabs as a single row above their associated content. Tab labels should succinctly describe the content within.</p>
    <p>Because swipe gestures are used for navigating between tabs, don't pair tabs with content that also supports swiping.</p>

    <h3 class="portal-example-pager__content--heading">Basic Tabs Example</h3>
    <p>In this example we will show you how to set up a basic tab group.</p>
    <example-with-code title="Basic Tabs Example" example="tabs-example-1" [tabs]="['html']">
        <tabs-example-1></tabs-example-1>
    </example-with-code>

    <h3 class="portal-example-pager__content--heading">Advanced Tabs Example</h3>
    <p>For complex labels, a template with the mat-tab-label directive should be added inside the mat-tab.</p>
    <example-with-code title="Complex Label Tabs Example" example="tabs-example-2" [tabs]="['html']">
        <tabs-example-2></tabs-example-2>
    </example-with-code>
  </div>
</div>
