<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-selection-list class="portal-example-preview-list mat-elevation-z2">
        <mat-list-option>
          Buy Milk
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option>
          Feed Cat
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option>
          Pay Bills
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Lists present multiple line items vertically as a single continuous element.</p>
    <p>Lists are made up of a continuous column of rows. Each row contains a tile. Primary actions fill the tile, and supplemental actions are represented by icons and text.</p>

    <h3 class="portal-example-pager__content--heading">Simple List Example</h3>
    <p>In the next example we will show you how to create a simple list.</p>
    <example-with-code title="Standard List" example="list-example-1" [tabs]="['html']">
      <list-example-1></list-example-1>
    </example-with-code>

    <h3 class="portal-example-pager__content--heading">Multiline List Example</h3>
    <p>In the next example we will show you how to create a list where items have multiple lines.</p>
    <example-with-code title="Multiline List" example="list-example-2" [tabs]="['html']">
      <list-example-2></list-example-2>
    </example-with-code>

    <h3 class="portal-example-pager__content--heading">List With Avatar Via HTTP Example</h3>
    <p>In the next example we will show you how to create a list list items have an avatar and the list data is fetched via HTTP.</p>
    <example-with-code title="Avatar List Via HTTP" example="list-example-3">
      <list-example-3></list-example-3>
    </example-with-code>
  </div>
</div>
