<div fxLayout="row" fxLayoutAlign="space-around center">
  <div matTooltip="{{position}}" [matTooltipPosition]="position">
    <span>Hover on me</span>
  </div>
  <mat-form-field>
    <mat-select [(ngModel)]="position">
      <mat-option value="before">Before</mat-option>
      <mat-option value="after">After</mat-option>
      <mat-option value="above">Above</mat-option>
      <mat-option value="below">Below</mat-option>
      <mat-option value="left">Left</mat-option>
      <mat-option value="right">Right</mat-option>
    </mat-select>
  </mat-form-field>
</div>
