<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <mat-button-toggle-group class="portal-example-preview-button-toggle">
        <mat-button-toggle value="left">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="justify">
          <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>Buttons communicate the action that will occur when the user touches them.</p>
    <p>Toggle buttons may be used to group related options. Arrange layout and spacing to convey that certain toggle buttons are part of a group.</p>
    <p>Focus and pressed states may reinforce that toggles are part of a group. For example, when one button segment is focused, focus may be displayed simultaneously on the rest of the segment.</p>

    <h3 class="portal-example-pager__content--heading">Button Toggle Example</h3>
    <p>In the next example we will show you how to create a toggle and get it's value.</p>
    <example-with-code title="Button Toggle Example" example="button-toggle-example-1" [tabs]="['html']">
      <button-toggle-example-1></button-toggle-example-1>
    </example-with-code>
  </div>
</div>
