<div class="portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content">
      <mat-card>
        <mat-card-content>
          This is a card
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p>A card is a sheet of material that serves as an entry point to more detailed information.</p>
    <p>Cards may contain a photo, text, and a link about a single subject. They may display content containing elements of varying size, such as photos with captions of variable length.</p>

    <h3 class="portal-example-pager__content--heading">Card Example</h3>
    <p>In the next example we will show you how to create a card.</p>
    <example-with-code title="Card Example" example="card-example-1" [tabs]="['html']">
      <card-example-1></card-example-1>
    </example-with-code>
  </div>
</div>
