<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content__grid-list">
      <grid-list-example-1 class="example-fixed-width"></grid-list-example-1>
    </div>
  </div>
<div class="portal-example-pager__content">
  <p>Grid lists are an alternative to standard list views.</p>
  <p>A grid list consists of a repeated pattern of cells arrayed in a vertical and horizontal layout.</p>
  <p>Grid lists are best used on similar data types. They help improve the visual comprehension of the content they contain.</p>

  <h3 class="portal-example-pager__content--heading">Grid list Example</h3>
  <p>In this example we will show you how to set up a grid list.</p>
  <example-with-code title="Grid List Example" example="grid-list-example-1" [tabs]="['html']">
    <grid-list-example-1></grid-list-example-1>
  </example-with-code>

  <h3 class="portal-example-pager__content--heading">Advanced Grid list Example</h3>
  <p>It is possible to set the rowspan and colspan of each tile individually, using the rowspan and colspan properties.You can also set the gutter size, as well as
    other properties of each tile such as the background image and colour. In this example, we show you how to do that: </p>
  <example-with-code title="Advanced Grid List Example" example="grid-list-example-2" [tabs]="['html', 'ts']">
    <grid-list-example-2></grid-list-example-2>
  </example-with-code>
</div>
