.portal-tab-chart {
  padding: 24px;
  position: relative;
  height: 200px;
}

.portal-widget__doughnut-labels {
  margin-top: 20px;
  .mat-display-1 {
    margin-bottom: 0;
  }
  .mat-icon {
    position: relative;
    span {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      animation-name: bounce;
      animation-duration: 4s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }
  > div:nth-child(1) .mat-icon span {
    animation-delay: 0s;
  }
  > div:nth-child(2) .mat-icon span {
    animation-delay: .3s;
  }
  > div:nth-child(3) .mat-icon span {
    animation-delay: .6s;
  }
}

@keyframes bounce {
  0%, 20% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-15px);
    opacity: .5;
  }
}
