<div class="portal-typography portal-example-page">
  <div class="portal-example-pager__header" fxLayout="row" fxLayoutAlign="center center">
    <div class="portal-example-pager__header-content portal-example-pager__header-content--animation">
      <mat-icon class="portal-example-preview-icon">tag_faces</mat-icon>
    </div>
  </div>
  <div class="portal-example-pager__content">
    <p><code>mat-icon</code> makes it easier to use vector-based icons in your app. This directive supports both icon fonts and SVG icons, but not bitmap-based formats (png, jpg, etc.).</p>

    <h3 class="portal-example-pager__content--heading">Material Icon Example</h3>
    <p>In this example we will show you how to add a Material icon to the page.</p>
    <example-with-code title="Material Icon Example" example="icon-example-1" [tabs]="['html']">
      <icon-example-1></icon-example-1>
    </example-with-code>
  </div>
</div>
